<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binomed.jef.udacityapp" >

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NewListActivity"
            android:theme="@style/NewsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewDetailActivity"
            android:label="@string/title_new_detail"
            android:parentActivityName=".NewListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".NewListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewListActivity" />
        </activity>

        <provider
            android:authorities="com.binomed.jef.udacityapp"
            android:name=".data.NewsProvider"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".service.NewsService"/>
        <receiver android:name=".service.NewsService$AlarmReceiver" android:enabled="true"/>

    </application>

</manifest>
